.nav{
    width: 90%;
    border-radius: 15px;
    margin: auto;
    background-color: rgb(172, 127, 255);
}
.nav>p{
    color: white;
    padding-bottom: 15px;
}
.body{
    width: 90%;
    margin: auto;
    text-align: center;
}
.delebut{
    margin-left: 20px;
}
.add{
    background: white;
    font-weight: bold;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}
.something{
  height: 25px;
 border-radius: 5px;
 background-color: white;
 width: 200px;

}